<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SSO Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{http://112.124.3.225:8100/favicon.ico}">
    <link rel="stylesheet" type="text/css" href="http://112.124.3.225:8100/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(img/bg-login.jpg);">
                <span class="login100-form-title-1">登 录</span>
            </div>

            <form class="login100-form validate-form" th:action="@{/login}" method="post">
                <div class="wrap-input100 validate-input m-b-26" data-validate="用户名不能为空">
                    <span class="label-input100">用户名</span>
                    <input class="input100" type="text" value="zhangsan" name="username" placeholder="请输入用户名">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="密码不能为空">
                    <span class="label-input100">密码</span>
                    <input class="input100" type="password" value="123456" name="password" placeholder="请输入密码">
                    <span class="focus-input100"></span>
                </div>

                <!--<div class="flex-sb-m w-full p-b-30">-->
                <!--<div class="contact100-form-checkbox">-->
                <!--<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">-->
                <!--<label class="label-checkbox100" for="ckb1">记住我</label>-->
                <!--</div>-->

                <!--<div>-->
                <!--<a href="javascript:" class="txt1">忘记密码？</a>-->
                <!--</div>-->
                <!--</div>-->

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">登 录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(img/bg-login.jpg);">
                <span class="login100-form-title-1">登 录</span>
            </div>

            <form class="login100-form validate-form" th:action="@{/mobile/login}" method="post">
                <div class="wrap-input100 validate-input m-b-26" data-validate="手机号不能为空">
                    <span class="label-input100">手机号</span>
                    <input class="input100" type="text" value="13211111111" name="mobile" placeholder="请输入手机号">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="验证码不能为空">
                    <span class="label-input100">验证码（测试123456即可）</span>
                    <input class="input100" type="text" value="123456" name="smsCode" placeholder="请输入验证码">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-18" data-validate="记住我功能使用">
                    <input name="remeber-me" type="checkbox" value="true"/>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">登 录</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script th:src="@{http://112.124.3.225:8100/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{js/common.js}"></script>
<script th:src="@{js/login.js}"></script>
<script>
    $(function () {
        // $.ajax({
        //     type:"GET",
        //     url:"/service-a/logout",
        //     dataType:"json",
        // });
    })
</script>
</html>