<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(title='友情链接',keywords=null)"></div>
<body>
<article class="main-content post-page">
    <div id="post-content" class="post-content">
        <h3>友情链接</h3>
        <ul class="flinks">
            <th:block th:each="link : ${links}">
                <li>
                    <img th:src="${link.description}" width="32px" height="32px"/>
                    <a th:href="${link.slug}" target="_blank" th:text="${link.name}"></a>
                </li>
            </th:block>
        </ul>
        <h3>链接须知</h3>
        <blockquote>
            <ul>
                <li><p>好好工作，别想太多！</p></li>
<!--                <li><p>原创博客优先，技术类博客优先，设计、视觉类博客优先</p></li>-->
            </ul>
        </blockquote>
        <h3>基本信息</h3>
        <pre><code class="lang-md hljs markdown">
            网站名称：工作996,,生病ICU
            网站地址：http://www.chaseself.com</code></pre>

        <p>我的邮箱:731109627@qq.com</p>
        <img th:src="@{/img/996.jpg}"/>
    </div>
</article>
</body>
<div th:replace="themes/default/footer::footer"></div>
</html>